@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

ol li {
  list-style: decimal;
  list-style-position: inside;
}


/* ELearning section */
.elearning-bg {
  background: url(../public/Home/title-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50px
}

@keyframes bounceInLeft {

  0% {
    -webkit-transform: translate3d(-3000px, 0, 0);
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  60% {
    -webkit-transform: translate3d(25px, 0, 0);
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform:
      translate3d(5px, 0, 0)
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes bounceIn {
  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    -webkit-transform: scaleX(1);
    opacity: 1;
    transform: scaleX(1);
  }

}